* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

#header {
  background-color: #ff2e2e;
  padding: 1rem 2rem;
  color: #fff;
}

#interpreter {
  height: 55vh;
}

#memory {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#memory tr {

  display: flex;

}

#memory td {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  border: 1px solid #000;

}
#memory td p {
  font-size: 1.4rem;
}
#memory td span {
  position: absolute;
  margin-top: 3rem;
  font-size: 0.6rem;
  color: #00000099;
}

.output {
  display: flex;
  gap: 0.5rem;
}

.output p {
  font-weight: 700;
}

.output span {
  border: 1px solid #000;
  min-width: 4rem;
}

.editor {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  height: 95%;
  flex: 1;
}

#control-pane {
  flex: 1;
  display: flex;
  
  gap: 1rem;
}

#control-pane button {

  padding: 0.1rem;
  min-width: 4rem;

}

#code-editor {
  flex: 1;
  justify-content: center;
  align-items: center;
}

#code-editor textarea {
  width: 95%;
  height: 95%;
  resize: none;
  padding: 0.4rem;
  min-height: 44vh;
}

.container {
  display: flex;
  padding-top: 4rem;
}

#docs {
  flex: 1;
  padding: 2rem;
}

#output-span {
  padding: 0rem 0.2rem;
}